@include media-breakpoint-down(xl) {
  .header {
    &__button {
      margin-right: 15px;
    }
  }
  .menu-list {
    &__item {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  .description {
    &__img {
      max-width: 100%;
      width: 500px;
      height: 600px;
    }
  }
}
@include media-breakpoint-down(lg) {
  .header {
    padding: 0 0 30px;
    &__menu {
      margin-top: 25px;
    }
  }
  .hero {
    &__wrapper {
      height: 600px;
    }
  }
  .boards {
    &__statement-text {
      max-width: 100%;
      font-size: 40px;
      line-height: 50px;
    }
    &__card {
      max-width: 300px;
    }
    &__card-img {
      height: 300px;
      width: 300px;
    }
  }
  .essentials {
    &__wrapper {
      height: 600px;
    }
  }
  .description {
    &__wrapper {
      padding: 32px 0;
    }
    &__img {
      &--left {
        margin: 0 auto;
      }
      &--right {
        margin: 0 auto;
      }
    }
    &__information {
      padding: 10px 0 40px;
    }
  }
  .moments {
    padding: 40px 0 100px;
    &__images {
      padding: 0 15px;
    }
    &__image-small {
      width: 200px;
      height: 200px;
    }
  }
  .footer {
    &__wrapper {
      padding: 50px 30px 60px;
    }
    &__social {
      margin-top: 30px;
    }
  }
}
@include media-breakpoint-down(md) {
  .header {
    padding: 0 0 20px;
    &__line {
      margin-bottom: 20px;
    }
  }
  .hero {
    &__background {
      padding: 10px;
    }
    &__wrapper {
      height: 450px;
    }
    &__information {
      padding: 25px;
    }
    &__title {
      font-size: 16px;
      line-height: 20px;
    }
    &__text {
      font-size: 30px;
      line-height: 40px;
    }
    &__button {
      width: 130px;
      padding: 13px 10px 15px;
    }
  }
  .boards {
    padding-top: 50px;
    &__statement {
      margin-bottom: 50px;
    }
    &__statement-text {
      max-width: 95%;
      font-size: 30px;
      line-height: 40px;
    }
    &__goods {
      padding: 40px 0;
    }
    &__title {
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 40px;
    }
    &__card {
      max-width: 250px;
    }
    &__card-img {
      height: 250px;
      width: 250px;
    }
  }
  .essentials {
    &__background {
      padding: 10px;
    }
    &__wrapper {
      height: 450px;
    }
    &__information {
      padding: 25px;
    }
    &__title {
      font-size: 16px;
      line-height: 20px;
    }
    &__text {
      font-size: 30px;
      line-height: 40px;
    }
  }
  .description {
    &__img {
      width: 75%;
      height: 400px;
    }
    &__information {
      padding: 10px 0 20px;
    }
    &__title {
      font-size: 25px;
      line-height: 30px;
      padding-bottom: 15px;
      &::after {
        margin-top: 15px;
      }
    }
    &__text {
      max-width: 90%;
      font-size: 18px;
      line-height: 24px;
    }
  }
  .newsletter {
    padding-top: 20px;
    &__wrapper {
      padding: 30px 15px;
    }
    &__title {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
    }
    &__input {
      width: 100%;
    }
    &__btn {
      width: 100%;
      padding: 10px 10px;
      margin-left: 0;
      margin-top: 20px;
    }
  }
  .moments {
    padding: 20px 0 50px;
    &__wrapper {
      padding: 30px 0;
    }
    &__title {
      line-height: 30px;
      margin-bottom: 30px;
    }
    &__image-big {
      margin-bottom: 20px;
    }
  }
  .footer {
    &__wrapper {
      padding: 30px 30px;
    }
    &__division {
      margin-bottom: 30px;
    }
    &__title {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
      &::after {
        margin-top: 10px;
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .dropend .dropdown-toggle::after {
    border: none;
    vertical-align: 2px;
  }
  .header {
    &__line {
      margin-bottom: 10px;
    }
    &__logo {
      margin-bottom: 25px;
    }
    &__button {
      margin-right: 25px;
    }
  }
  .menu {
    position: absolute;
    padding-top: 20px;
    height: 100vh;
    top: 131px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transform: translateY(-300%);
    transition-duration: 0.4s;
    transition-timing-function: ease;
    z-index: 20;
    margin: 0;
    &-list {
      flex-direction: column;
      &__btn {
        font-size: 20px;
        line-height: 24px;
        &::after {
          transform: rotate(-90deg);
        }
      }
    }
    &-list__item {
      align-items: flex-start;
      padding: 25px 0 25px;
    }
    &-list__link {
      font-size: 20px;
      line-height: 24px;
      &:hover {
        &:after {
          display: none;
        }
      }
    }
    &-list__dropdown {
      transform: translate3d(130px, 20px, 0px);
    }
    &--active {
      transform: translateY(0);
      overflow-y: scroll;
    }
  }
  .hero {
    &__background {
      padding: 7px;
    }
    &__wrapper {
      height: 350px;
    }
    &__title {
      margin-bottom: 15px;
    }
    &__text {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }
  .boards {
    padding-top: 15px;
    &__statement {
      margin-bottom: 15px;
    }
    &__statement-text {
      font-size: 25px;
      line-height: 30px;
    }
    &__statement-link {
      width: 50%;
      margin: 0 auto;
      &:first-child {
        margin-right: auto;
        margin-bottom: 20px;
      }
    }
    &__goods {
      padding: 30px 0;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__card {
      max-width: 200px;
    }
    &__card-img {
      height: 200px;
      width: 200px;
    }
  }
  .essentials {
    padding-top: 10px;
    &__background {
      padding: 7px;
    }
    &__wrapper {
      height: 350px;
    }
    &__title {
      margin-bottom: 15px;
    }
    &__text {
      max-width: 95%;
      font-size: 24px;
      line-height: 26px;
    }
  }
  .description {
    padding-top: 10px;
    &__wrapper {
      padding: 15px 0;
    }
    &__img {
      height: 250px;
    }
  }
  .newsletter {
    padding-top: 10px;
    &__wrapper {
      padding: 15px;
    }
  }
  .moments {
    padding: 10px 0 20px;
    &__wrapper {
      padding: 15px 0;
    }
  }
  .footer {
    &__wrapper {
      padding: 20px 30px;
    }
    &__division {
      margin-bottom: 20px;
    }
    &__text {
      max-width: 90%;
    }
    &__social {
      margin-top: 20px;
    }
  }
}
