.hero {
  &__background {
    background: #ffffef;
    padding: 16px;
  }
  &__wrapper {
    background: url("../images/hero-img.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
    margin: 0;
  }
  &__information {
    text-align: right;
    color: #56593d;
    padding: 64px;
  }
  &__tag {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__title {
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 25px;
  }
  &__button {
    width: 154px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1.575px;
    text-transform: uppercase;
    color: #ffffef;
    padding: 16px 10px 17px;
    margin: 0 0 0 auto;
    background: #56593d;
  }
}
