.hero {
  &__background {
    background: #ffffef;
    padding: 16px;
  }
  &__wrapper {
    background-image: url("../images/hero-img.jpg");
    background-image: image-set(
      "../images/hero-img.webp" type("image/webp"),
      "../images/hero-img.jpg" type("image/jpg")
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
    margin: 0;
  }
  &__information {
    text-align: right;
    color: #56593d;
    padding: 64px;
  }
  &__title {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 25px;
  }
  &__button {
    width: 154px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1.575px;
    text-transform: uppercase;
    color: #ffffef;
    padding: 15px 10px 16px;
    margin: 0 0 0 auto;
    background-color: #56593d;
    border: 1px solid #56593d;
    transition: color 0.2s, border 0.2s, background-color 0.2s;
    &:hover {
      color: #fff;
      background-color: #000;
    }
    &:active {
      border: 1px solid #fff;
    }
  }
}
